.navbar{
    display: flex;
}

.pages{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 20%;
}


.icons {
    display: flex;
    gap: 20px;
    margin-left: 30%;
    margin-bottom: 40px;
}

.icons_checker{
    display: flex;
    /* padding: 1px; */
}

.image{
    /* padding: 30%; */
    width: 30%;
    height: 20%;
}


h1{
    font-size: 80px;
}


.landing_page{
    display: flex;
    margin: 20px;
}